!!!
%html
  %head
    %title Rat Pack Workshop
    %link(rel="stylesheet" type="text/css" href="style.css")
    %meta(http-equiv="refresh" content="5")
  %body
    .container
      .content
        %a.btn{:class => indicator_class}
          =indicator_class